[Unit]
Description=Backup /home/paul to mega.
StartLimitIntervalSec=5m
StartLimitBurst=4

[Service]
Type=oneshot
Restart=on-failure
RestartSec=1m
ExecStart=restic -r rclone:mega:/restic --exclude-file /home/paul/.config/restic/exclude-home backup /home/paul