[Unit]
Description=Timer for restic forget of local repository.

[Timer]
#OnCalendar=*-*-* 01:00
#OnCalendar=Tue *-*-* 01:00
OnCalendar=Tue *-*-1..7
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target