[Unit]
Description=Check local restic repository.
StartLimitIntervalSec=15m
StartLimitBurst=5

[Service]
Type=oneshot
Restart=on-failure
RestartSec=2min

ExecStartPre=restic unlock
#ExecStart=sleep 1 
ExecStart=restic check --read-data
ExecStartPost=restic cache --cleanup
ExecStartPost=/bin/notify-send "Restic local repo check succeeded."
#ExecStopPost=/bin/notify-send "Restic local repo check failed."
