[Unit]
Description=Forget, prune and check local restic repository.
StartLimitIntervalSec=30m
StartLimitBurst=5

[Service]
Type=oneshot
Restart=on-failure
RestartSec=5min
ExecStartPre=restic unlock
ExecStart=restic forget --prune --keep-within=3m
ExecStartPost=restic cache --cleanup
