[Unit]
Description=Periodic backup of /home/paul to local repository.

[Timer]
OnCalendar=08..23/4:15
RandomizedDelaySec=30min
#Persistent=true

[Install]
WantedBy=timers.target