[Unit]
Description=Periodic restic backup of /home/paul to mega.

[Timer]
OnCalendar=*-*-* 02:00:00
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
