[Unit]
Description=Forget and prune mega restic repository.
StartLimitIntervalSec=60m
StartLimitBurst=60

[Service]
Type=oneshot
Restart=on-failure
RestartSec=1min
ExecStartPre=restic -r rclone:mega:/restic unlock
ExecStart=restic -r rclone:mega:/restic forget --keep-within=1m --prune --cleanup-cache
