[Unit]
Description=Check local restic repository.
StartLimitIntervalSec=15m
StartLimitBurst=5

[Service]
Type=oneshot
Restart=on-failure
RestartSec=1min

#ExecStartPre=restic forget --path=/home/paul -H 24 -d 14 
#ExecStartPre=restic forget --path=/home/paul/Videos -w 8
#ExecStartPost=systemd-inhibit restic check
ExecStartPre=restic unlock
ExecStart=restic check
ExecStartPost=restic cache --cleanup-cache