[Unit]
Description=Daily sync to synchost.

[Timer]
#OnCalendar=06:00
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=True

[Install]
WantedBy=timers.target
