[Unit]
Description=Run Yakuake
StartLimitIntervalSec=1
#StartLimitBurst=5

[Service]
ExecStart=/usr/bin/yakuake
Restart=always

[Install]
WantedBy=default.target
