[Desktop Entry]
Categories=System;FileTools;FileManager;Utility;ConsoleOnly;
Comment=Vi[m] like ncurses based file manager
Exec=xfce4-terminal -T Vifm -x tmux new -A -s vifm vifm %F
GenericName=File Manager
Icon=vifm
Name=Vifm
Terminal=false
TryExec=vifm
Type=Application
Keywords=File;Directory;Browse;
MimeType=inode/directory;
X-XFCE-Source=file:///usr/share/applications/vifm.desktop
Path=
StartupNotify=false
